<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="../stylesheets/AnimatedInteractiveWeb/BeautifulCity.css")
    title Document
  body
    label
      .remind Click To Switch Day/Night!
      input(type="checkbox")
      .scene
        .sun
        .moon
        .lefttopText
          .blueblock
          h5 A DAY<br>On THE ISLAND
          h1 Agean Sea<br>
            span.dayText Day Sky
            span.nightText Night Sky
          p Mars  <br>Test<br><br>BeautifulCity
        .allstars
        - for (var i =0;i<30;i++){
          div(class="star" + i)
        - }
        .building
          .house1
            .window
              .circle
              .circle
              .circle
          .house2
            .door
          .house3
            .wall
              .window
            .wall
              .window
            .wall
              .window
            .roof
              .rooftop
                .cross