<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title IlluminationBooks
    link(rel="stylesheet", href="../stylesheets/AnimatedInteractiveWeb/IlluminationBooks.css")
  body
    .box
      .top 
        h2.name 浮光書店
          span.smallText IlluminationBooks
        .tag
        .cirButton
      .bottom
        ul
          li 
            h3 地址：
            | 號 2 樓, No. 16赤峰街47巷大同區台北市103
          li 
            h3 電話：
            | 02 2550 7288
          li 
            h3 開放時間：
            | 今日正常營業 · 14:00–21:30
        .buttons 
          a.btn.btnWebSite(href='http://www.google.com.tw', target='_blank') 前往網站
          a.btn.btnNews(href='http://www.kimo.com.tw', target='_blank') 更多訊息