<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="../stylesheets/AnimatedInteractiveWeb/resume.css")
    //- link(rel="stylesheet", href="../stylesheets/IlluminationBooks.css")
    title Document
  body
    .resume
      .left
        h1 郭信鼎
        h4 Tisnet
        hr
        p 新手入門
        .buttons
          a.btn.fill(href="http://yahoo.com.tw" target="_blank") 作品集
          a.btn(href="https://github.com/MarsKuo" target="_blank") GitHub
        .block
          h4 Skills
          h2 專業技能
          ul.listSkill
            li
              .circle
                .p90
                .p180
                .p270
                .p360
              |前端網頁開發(html/css/js)
            li
              .circle
                .p90
                .p180
                .p270
                .p360
              |後端網頁 (C#)
            li
              .circle
                .p90
                .p180
                .p270
                .p360
              |平面設計 
              br
              |插畫
            li
              .circle
                .p90
                .p180
              |前端網頁開發(html/css/js)
            li
              .circle
                .p90
                .p180
                .p270
                .p360
              |前端網頁開發(html/css/js)
            li
              .circle
                .p90
                .p180
                .p270
              |前端網頁開發(html/css/js)
            li
              .circle
                .p90
                .p180
                .p270
                .p360
              |前端網頁開發(html/css/js)
            li
              .circle
                .p90
                .p180
                .p270
                .p360
              |前端網頁開發(html/css/js)          
        .block
          h4 Programming Skill
          h2 程式技能
          ul.listProgram
            li C++
              .bar
                .value.p60
            li VB.net
              .bar
                .value.p10
            li AutoLisp
              .bar
                .value.p30
            li Verilog
              .bar
                .value.p40
            li Python
              .bar
                .value.p60
            li Html/Css/Js
              .bar
                .value.p20
            li Pug/Sass
              .bar
                .value.p30
            
      .right
        .decoration
        .block
          h4 Experience / Works
          h2 經歷與作品
          ul.listExperience
            li.year 2014
              ul
                li Lorem ipsum dolor sit amet consectetur adipisicing 
                li elit. Nesciunt odit, excepturi ipsam sapiente earum
                li vel fuga accusantium, quisquam optio quis nobis,
                li quo tempora id beatae laborum vero omnis molestiae? Amet.
            li.year 2015
              ul
                li Lorem ipsum dolor sit amet consectetur adipisicing 
                li elit. Nesciunt odit, excepturi ipsam sapiente earum
                li vel fuga accusantium, quisquam optio quis nobis,
                li quo tempora id beatae laborum vero omnis molestiae? Amet.
            li.year 2016
              ul
                li Lorem ipsum dolor sit amet consectetur adipisicing 
                li elit. Nesciunt odit, excepturi ipsam sapiente earum
                li vel fuga accusantium, quisquam optio quis nobis,
                li quo tempora id beatae laborum vero omnis molestiae? Amet.
            li.year 2017
              ul
                li Lorem ipsum dolor sit amet consectetur adipisicing 
                li elit. Nesciunt odit, excepturi ipsam sapiente earum
                li vel fuga accusantium, quisquam optio quis nobis,
                li quo tempora id beatae laborum vero omnis molestiae? Amet.
        .block
          h4 Contests
          h2 比賽經歷
          ul
            li div Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, in.
            li div Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis, quisquam.
            li div Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, commodi!
            li div Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate!
            li div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, dolores?