<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="../stylesheets/AnimatedInteractiveWeb/WhereIsMyCoke.css")
    title Document
  body
    .scene
      h1.title Where is My Cake !!
        br
        span.question Did you see it?
      .person
        .message uh....I Didn't eat it
        .hairs
          .hair1
          .hair2
          .hair3
        .body
          .eyes
            .eye
              .eyeball
            .eye
              .eyeball
          .mouth
            .food